/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    padding: 70px 70px 24px 70px;
}
header{
    background-color: yellow;
    
}
main{    background-color: yellow;
}
footer{
    background-color: yellow;
}